/**
 * Base theme CSS
 * 
 * @since 1.0.0
 * @version 1.0.0
 * @package christileeson.com Theme
 * @author Christi Leeson 
 */
/**
 * Bootstrap Configuation Variable Override
 */
/** Font Face Declarations
 ****************************/
@font-face {
  font-family: Garamond;
  src: url("../fonts/eb-garamond/EBGaramond12-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Garamond Italic';
  src: url("../fonts/eb-garamond/EBGaramond12-Italic.ttf") format("truetype");
}
@link-color :       @color-main;
@link-hover-color : darken(@link-color, 15%);
body {
  font: 14px "Open Sans", Arial, Helvetica, sans-serif;
  color: #3b4244;
}

a {
  color: #337ab7;
}
a:hover {
  color: #23527c;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.lead {
  font-size: 16px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}

.content-area {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.content-area:before, .content-area:after {
  content: " ";
  display: table;
}
.content-area:after {
  clear: both;
}

/* PHOTO GALLERY STYLES - NOT USED? 
----------------------------------*/
.separator-doubled {
  border: none !important;
}

.gallery-sizer .dynamic_css {
  border: 1px solid #bbc2c4 !important;
  height: 138px !important;
  overflow: hidden !important;
}

/* FOOTER 
-----------------------------------*/
footer p {
  text-align: center;
  font-size: 10px;
  padding: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* TOP HEADER
---------------------------------*/
/* xs screen width 480px */
.header-outer {
  background: #fff;
  height: 72px;
  position: relative;
  width: 100%;
  z-index: 100;
}
.header-outer .header-inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1060px;
  width: 100%;
  position: relative;
}
.header-outer .header-inner:before, .header-outer .header-inner:after {
  content: " ";
  display: table;
}
.header-outer .header-inner:after {
  clear: both;
}
.header-outer .top-header {
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  width: 100%;
}
.header-outer .top-header:before, .header-outer .top-header:after {
  content: " ";
  display: table;
}
.header-outer .top-header:after {
  clear: both;
}
.header-outer .site-title {
  position: relative;
  float: left;
  width: 83.33333%;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .header-outer .site-title {
    float: left;
    width: 25%;
  }
}
.header-outer .site-title img {
  width: 100%;
  max-width: 330px;
  width: 100%;
  padding: 15px 20px;
}
.header-outer .site-title img.dark {
  display: none;
}
.header-outer nav {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  display: none;
}
@media (min-width: 992px) {
  .header-outer nav {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 992px) {
  .header-outer nav {
    margin-left: 8.33333%;
  }
}
.header-outer nav .menu {
  list-style: none;
  padding-top: 53px;
}
.header-outer nav .menu .menu-item {
  display: inline-block;
}
.header-outer nav .menu .menu-item a {
  color: #fff;
  font-size: 15px;
}
.header-outer nav .menu .menu-item + .menu-item {
  padding-left: 15px;
}
.header-outer button {
  position: relative;
  float: left;
  width: 16.66667%;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  /* 1 col, 5 px padding on each side */
  border: none 0;
  background-color: transparent;
  font-size: 23px;
  padding-top: 21px;
}

/* sm screen width 786px */
/* md screen width 992px */
@media (min-width: 992px) {
  .header-outer {
    background: rgba(0, 0, 0, 0.7);
    height: 90px;
  }
  .header-outer .site-title img.dark {
    display: block;
    max-width: 225px;
    padding-top: 43px;
    padding-left: 25px;
  }
  .header-outer .site-title img.light {
    display: none;
  }
  .header-outer nav {
    display: block;
  }
  .header-outer button {
    display: none;
  }
}
/* Mobile Navigation Styles 
------------------------------*/
#viewport {
  overflow-x: hidden;
  position: relative;
}

.top-header button {
  outline: none;
}

.page-wrapper {
  right: 0;
  top: 0;
  transition: all 200ms ease;
}

#menu-side {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  position: absolute;
  height: 100%;
  right: -300px;
  top: 0;
  transition: all 200ms ease;
  width: 300px;
  z-index: 2000;
}
#menu-side.collapse.in {
  right: 0;
}
#menu-side.collapse.in + .page-wrapper {
  position: relative;
  right: 300px;
}
#menu-side .menu {
  list-style: none;
  padding: 0;
  text-align: center;
}
#menu-side .menu .menu-item {
  padding: 20px;
  border-bottom: solid 1px #666;
}
#menu-side .menu .menu-item a {
  color: #fff;
  font: 24px "Open Sans", Arial, Helvetica, sans-serif;
}

/* Banner/First Read styles
---------------------------------*/
/* xs screen width 480px */
.banner-outer {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
  width: 100%;
}
.banner-outer .banner-inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: auto;
  max-width: 1060px;
}
.banner-outer .banner-inner:before, .banner-outer .banner-inner:after {
  content: " ";
  display: table;
}
.banner-outer .banner-inner:after {
  clear: both;
}
.banner-outer .banner {
  position: relative;
}
.banner-outer .banner img {
  width: 100%;
  height: auto;
  min-height: 193px;
}
.banner-outer .banner .message {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10% 0 0 20px;
}
.banner-outer .banner .message .title {
  width: 161px;
  font: 19px/21px Garamond, Times, serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  padding: 11px 24px;
  letter-spacing: 3px;
}
.banner-outer .banner .message .portfolio-link {
  width: 161px;
  height: 33px;
  font-size: 13px;
  padding: 8px 0 0 27px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #fff;
  background-color: #0d91c8;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: block;
}
.banner-outer .banner .message .portfolio-link .extratext {
  display: none;
}

/* sm screen width 786px */
@media (min-width: 768px) {
  .banner-outer {
    margin-top: -90px;
  }
  .banner-outer .banner img {
    min-height: 464px;
  }
  .banner-outer .banner .message {
    margin: 15% 0 0 120px;
  }
  .banner-outer .banner .message .title {
    width: 319px;
    height: 140px;
    font: 40px/41px Garamond, Times, serif;
    padding: 25px 35px 25px 40px;
    letter-spacing: 7px;
  }
  .banner-outer .banner .message .portfolio-link {
    width: 319px;
    height: 63px;
    font-size: 17px;
    padding: 20px 0 0 40px;
  }
  .banner-outer .banner .message .portfolio-link .extratext {
    display: inline;
  }
}
/* md screen width 992px */
@media (min-width: 992px) {
  .banner-outer {
    margin-top: -90px;
  }
  .banner-outer .banner img {
    min-height: 600px;
  }
  .banner-outer .banner .message {
    margin: 20% 0 0 120px;
  }
  .banner-outer .banner .message .title {
    width: 400px;
    height: 160px;
    font: 55px/51px Garamond, Times, serif;
    padding: 28px 40px 28px 50px;
    letter-spacing: 7px;
  }
  .banner-outer .banner .message .portfolio-link {
    width: 400px;
    height: 83px;
    font-size: 20px;
    padding: 28px 0 0 52px;
    letter-spacing: 1px;
  }
  .banner-outer .banner .message .portfolio-link .extratext {
    display: inline;
  }
}
/* Home page styles
---------------------------------*/
.page-template-homepage {
  background: url("../images/bg-repeating-rocks.jpg") repeat top left;
}
.page-template-homepage .aboutme {
  text-align: center;
}
.page-template-homepage .aboutme .aboutme-inner {
  font-family: "Garamond Italic", Times, serif;
  padding: 20px 30px;
  border: 1px solid #666;
  text-align: left;
  font-size: 18px;
  width: 90%;
  margin: 50px auto 20px;
}

/* sm screen width 786px */
@media (min-width: 768px) {
  .page-template-homepage .aboutme .aboutme-inner {
    padding: 20px 30px;
    font-size: 20px;
    width: 90%;
    margin: 50px auto 20px;
  }
}
/* md screen width 786px */
@media (min-width: 992px) {
  .page-template-homepage .aboutme .aboutme-inner {
    padding: 17px 30px 17px 338px;
    font-size: 25px;
    line-height: 28px;
    width: 88%;
    margin: 50px auto 20px;
    background-image: url("../images/christi_sophisticated_by_Jobe_crop.jpg");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-size: 292px auto;
  }
}
/* SKILLS
---------------------------------------*/
.skills .skill {
  text-align: left;
  padding: 25px 25px 0;
}
.skills .skill h3 {
  font: 24px/normal "Open Sans", Arial, Helvetica, sans-serif;
  padding-bottom: 11px;
}
.skills .skill img.skill-icons {
  float: left;
  padding-right: 15px;
  padding-bottom: 14px;
}
.skills .skill p {
  font: 16px/normal Garamond, Times, serif;
}

/* sm screen width 786px */
/* md screen width 992px */
@media (max-width: 992px) {
  .skills .skill h3 {
    font: 24px/normal "Open Sans", Arial, Helvetica, sans-serif;
    padding-bottom: 6px;
  }
  .skills .skill img.skill-icons {
    padding-bottom: 10px;
  }
}
/* Content area styles
---------------------------------*/
/* xs screen width 480px */
.content-outer {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
  width: 100%;
}
.content-outer .content-inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: auto;
  max-width: 1060px;
  background: #fff;
}
.content-outer .content-inner:before, .content-outer .content-inner:after {
  content: " ";
  display: table;
}
.content-outer .content-inner:after {
  clear: both;
}
.content-outer .content-inner #main {
  padding: 25px;
}
.content-outer .content-inner #main .about {
  font: 25px/26px Garamond, Times, serif;
  text-transform: italic;
  border: 1px solid #b8d9e7;
  padding: 25px;
}

/* Slider Styles
-------------------*/
.slider-infinite {
  height: 215px;
  margin: 1vw 0;
  padding: 0 8%;
}
.slider-infinite:before, .slider-infinite:after {
  content: " ";
  display: table;
}
.slider-infinite:after {
  clear: both;
}
@media (min-width: 768px) {
  .slider-infinite {
    padding: 0 6%;
  }
}
@media (min-width: 992px) {
  .slider-infinite {
    padding: 0 4%;
  }
}
.slider-infinite .slider-body {
  -webkit-transition: all 2s;
  transition: all 2s;
}
.slider-infinite .slider-body .slide {
  text-align: center;
  width: 100%;
}
@media (min-width: 480px) {
  .slider-infinite .slider-body .slide {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .slider-infinite .slider-body .slide {
    width: 33.33%;
  }
}
@media (min-width: 992px) {
  .slider-infinite .slider-body .slide {
    width: 25%;
  }
}
.slider-infinite .slider-body .slide a {
  background-color: #fff;
  margin: 7px;
  color: #fff;
  display: block;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  height: 200px;
  overflow: hidden;
}
.slider-infinite .slider-body .slide a img {
  width: auto;
  height: 100%;
}
.slider-infinite .slider-body .slide:nth-child(even) a {
  background-color: #fff;
}
.slider-infinite .slide-left,
.slider-infinite .slide-right {
  top: 90px;
  width: 15px;
  height: 31px;
  cursor: pointer;
  outline: none;
}
.slider-infinite .slide-left {
  background: transparent url("../images/prev-horizontal.png") no-repeat 0 0;
}
.slider-infinite .slide-left:hover, .slider-infinite .slide-left:active, .slider-infinite .slide-left:focus {
  background-position: -15px 0;
}
.slider-infinite .slide-right {
  background: transparent url("../images/next-horizontal.png") no-repeat 0 0;
}
.slider-infinite .slide-right:hover, .slider-infinite .slide-right:active, .slider-infinite .slide-right:focus {
  background-position: -15px 0;
}

/* Contact Form on home page
---------------------------------*/
.cb_form_wrapper h4 {
  display: none;
}

p.contact-intro {
  font: 16px/normal Garamond, Times, serif;
  /*font: 16px/normal 'Garamond Premier Pro', Garamond, Times, serif;*/
  padding: 11px 0 !important;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/*.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:1; max-height: auto; -ms-interpolation-mode:bicubic;}*/
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #000;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 20px;
  background: #000;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  border: 5px solid #000;
  background: #fff;
}

#cboxTitle {
  position: absolute;
  top: -20px;
  left: 0;
  color: #ccc;
}

#cboxCurrent {
  position: absolute;
  top: -20px;
  right: 0px;
  color: #ccc;
}

#cboxLoadingGraphic {
  background: url("../images/loading.gif") no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #fff;
}

#cboxPrevious {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -32px;
  background: url("../images/controls.png") no-repeat top left;
  width: 28px;
  height: 65px;
  text-indent: -9999px;
}

#cboxPrevious:hover {
  background-position: bottom left;
}

#cboxNext {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -32px;
  background: url("../images/controls.png") no-repeat top right;
  width: 28px;
  height: 65px;
  text-indent: -9999px;
}

#cboxNext:hover {
  background-position: bottom right;
}

#cboxClose {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  background: url("../images/controls.png") no-repeat top center;
  width: 38px;
  height: 19px;
  text-indent: -9999px;
}

#cboxClose:hover {
  background-position: bottom center;
}

/*# sourceMappingURL=main.css.map */
