/* Banner/First Read styles
---------------------------------*/

/* xs screen width 480px */

.banner-outer {
	background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
	width: 100%;
	
	.banner-inner {
		// Container with 0px margin
		@include container-fixed( 0 );
		@include size( 100%, auto );
		max-width: $site-width;
	}
	
	.banner {
		position: relative;
		
		img {
			@include size( 100%, auto );
			min-height: 193px;
		}
		.message {
			position: absolute;
			left: 0;
			top: 0;
			margin: 10% 0 0 20px;
			
			.title {
				width: 161px;
				@include text-accent( 19px, 21px );
				color: $white;
				background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
				padding: 11px 24px;
			  	letter-spacing: 3px;
			}
			
			.portfolio-link {
				width: 161px;
				height: 33px;
				font-size: 13px;
				padding: 8px 0 0 27px;
				font-family: "Open Sans", Arial, sans-serif;
				color: $white;
				background-color: #0d91c8;
				letter-spacing: 0px;
				text-transform: uppercase;
				display: block;
				
				.extratext {
					display: none;
				}
			}
		}
	}
}

/* sm screen width 786px */
@media ( min-width: $screen-sm ) {
	.banner-outer {
		margin-top: -90px;
		
		.banner {
			img {
				min-height: 464px;
			}
			.message {
				margin: 15% 0 0 120px;
			
				.title {
					width: 319px;
					height: 140px;
					@include text-accent( 40px, 41px );
					padding: 25px 35px 25px 40px;
				  	letter-spacing: 7px;
				}
				.portfolio-link {
					width: 319px;
					height: 63px;
					font-size: 17px;
					padding: 20px 0 0 40px;
				
					.extratext {
						display: inline;
					}
				}
			}
		}
	}
}

/* md screen width 992px */
@media ( min-width: $screen-md ) {
	.banner-outer {
		margin-top: -90px;
		
		.banner {
			img {
				min-height: 600px;
			}
			.message {
				margin: 20% 0 0 120px;
			
				.title {
					width: 400px;
					height: 160px;
					@include text-accent( 55px, 51px );
					padding: 28px 40px 28px 50px;
				  	letter-spacing: 7px;
				}
			
				.portfolio-link {
					width: 400px;
					height: 83px;
					font-size: 20px;
					padding: 28px 0 0 52px;
					letter-spacing: 1px;
				
					.extratext {
						display: inline;
					}
				}
			}
		}
	}
}