/* Content area styles
---------------------------------*/

/* xs screen width 480px */

.content-outer {
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
	width: 100%;
	
	.content-inner {
		// Container with 0px margin
		@include container-fixed( 0 );
		@include size( 100%, auto );
		max-width: $site-width;
		background: #fff;
		
		#main {
			padding: 25px;
			
			.about  {
				@include text-accent( 25px, 26px );
				text-transform: italic;
				border: 1px solid $color-light-main;
				padding: 25px;
			}
		}
		
	}
}