/** Font Face Declarations
 ****************************/
$font-path: '../fonts/';

@font-face {
	font-family: Garamond;
	src: url( $font-path + 'eb-garamond/EBGaramond12-Regular.ttf' ) format('truetype');
}

@font-face {
	font-family: 'Garamond Italic';
	src: url( $font-path + 'eb-garamond/EBGaramond12-Italic.ttf' ) format('truetype');
}