/* Contact Form on home page
---------------------------------*/


.cb_form_wrapper {
	
	h4  {
		display: none;
	} 
	
}


	
p.contact-intro{
	@include text-accent( $font-medium, normal );
	/*font: 16px/normal 'Garamond Premier Pro', Garamond, Times, serif;*/
	padding: 11px 0 !important;
}