/* TOP HEADER
---------------------------------*/

/* xs screen width 480px */

.header-outer {
	background: $white;
	height: 72px;
	position: relative;
	width: 100%;
	z-index: 100;
	
	.header-inner {
		// Container with 0px margin
		@include container-fixed( 0 );
		max-width: $site-width;
		width: 100%;
		position: relative;
	}
	.top-header {
		// Row with 0px padding
		@include make-row( 0 );
		position: absolute;
		width: 100%;
	}
	.site-title {
		// 11 columns up until md size, then 3 columns, with 0px padding
		@include make-xs-column( 10, 10px );
		@include make-md-column( 3, 0 );
		text-align: center;
		
		img {
			width: 100%;
			max-width: 330px;
			width: 100%;
			padding: 15px 20px;
			
			&.dark {
				display: none;
			}
		}
	}
	nav {
		@include make-md-column( 8, 0 );
		@include make-md-column-offset( 1 );
		display: none;
		
		.menu {
			list-style: none;
			padding-top: 53px;
			
			.menu-item {
				display: inline-block;
				
				a {
					color: $white;
					font-size: 15px;
				}
				& + .menu-item {
					padding-left: 15px;
				}
			}
		}
	}
	button {
		@include make-xs-column( 2, 10px ); /* 1 col, 5 px padding on each side */
		border: none 0;
		background-color: transparent;
		font-size: 23px;
		padding-top: 21px;
	}
}

/* sm screen width 786px */

/* md screen width 992px */
@media ( min-width: $screen-md ) {
	.header-outer {
		background: rgba( 0, 0, 0, 0.7 );
		height: 90px;
		
		.site-title {
			img {
				
				&.dark {
					display: block;
					max-width: 225px;
					padding-top: 43px;
					padding-left: 25px;
				}
				&.light {
					display: none;
				}
			}
		}
		nav {
			display: block;
		}
		button {
			display: none;
		}
	}
}
