/* Home page styles
---------------------------------*/

.page-template-homepage {

	background: url( $image-path + 'bg-repeating-rocks.jpg') repeat top left;
	
	.aboutme {
		text-align: center;
	
		.aboutme-inner {
			font-family: $font-fancier-italic;
			padding: 20px 30px;
			border: 1px solid $grey-medium;
			text-align: left;
			font-size: 18px;
		  	width: 90%;
		  	margin: 50px auto 20px;
		}
	}

}



/* sm screen width 786px */
@media ( min-width: $screen-sm ) {

	.page-template-homepage {
		
		.aboutme {
		
			.aboutme-inner {
				padding: 20px 30px;
				font-size: 20px;
			  	width: 90%;
			  	margin: 50px auto 20px;
			}
		}
	
	}
	
}

/* md screen width 786px */
@media ( min-width: $screen-md ) {

	.page-template-homepage {
		
		.aboutme {
		
			.aboutme-inner {
				padding: 17px 30px 17px 338px;
				font-size: 25px;
				line-height: 28px;
			  	width: 88%;
			  	margin: 50px auto 20px;
			  	background-image: url( $image-path + 'christi_sophisticated_by_Jobe_crop.jpg');
			  	background-repeat: no-repeat;
			  	background-position: 20px 20px;
			  	background-size: 292px auto;
			}
		}
	
	}
	
}