body {
	font: $font-size-base $font-fancy;
	color: $color-dark;
}
	
a {
	color: $link-color;
	
	&:hover {
		color:  $link-hover-color;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.lead {
	font-size: 16px;
}


.wrapper {
	@include container-fixed ( 0 );
}


.content-area {

	@include make-row ( 0 );
	width: 100%;

}



/* PHOTO GALLERY STYLES - NOT USED? 
----------------------------------*/

.separator-doubled  {
	border: none !important;
}

.gallery-sizer .dynamic_css {
	border: 1px solid #bbc2c4 !important;
	height: 138px !important;	
	overflow: hidden !important;
}


/* FOOTER 
-----------------------------------*/

footer p {
	text-align: center;
	font-size: 10px;
	padding: 20px;
	font-family: $font-fancy;
}

