/* MEET AND CONTACT CHRISTI PAGE
------------------------------------------*/




/*  CONTACT FORM   */

.label_control, 
.input_control {
	font-size: 14px !important;
}

.entry-title {
	padding-bottom: 15px;
}

.btn_submit {
	color: #333 !important;
	background-color: #fff !important;
	border-color: #ADADAD;
	display: inline-block;
	margin-bottom: 0px;
	font-weight: normal !important;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #ADADAD !important;
	white-space: nowrap;
	padding: 6px 12px !important;
	font-size: 14px !important;
	line-height: 1.42857;
	border-radius: 4px;
	-moz-user-select: none;
	
	&:hover {
		background-color: #E6E6E6 !important;
	}
	
}
