/* Mobile Navigation Styles 
------------------------------*/
#viewport {
	overflow-x: hidden;
	position: relative;
}
.top-header button {
	outline: none;
}
.page-wrapper {
	right: 0;
	top: 0;
	transition: all 200ms ease;
}
#menu-side {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
	position: absolute;
	height: 100%;
	right: -$menu-side-width;
	top: 0;
	transition: all 200ms ease;
	width: $menu-side-width;
	z-index: 2000;
	
	&.collapse.in {
		right: 0;
		
		& + .page-wrapper {
			position: relative;
			right: $menu-side-width;
		}
	}
	.menu {
		list-style: none;
		padding: 0;
		text-align: center;
		
		.menu-item {
			padding: 20px;
			border-bottom: solid 1px #666;
			
			a {
				color: $white;
				font: $font-large $font-fancy;
			}
		}
	}
}
