
/* SKILLS
---------------------------------------*/


.skills {
	
	.skill {
		text-align: left;
		padding: 25px 25px 0;
		
		h3 {	 
			@include text-header( $font-large, normal );
			padding-bottom: 11px;
		}
		
		img.skill-icons {
			float: left;
			padding-right: 15px;
  			padding-bottom: 14px;
		}
		
		p {
			@include text-accent( $font-medium, normal );
		}
	}
		
}


/* sm screen width 786px */

/* md screen width 992px */
@media (max-width: $screen-md-min){
	
.skills {
	
	.skill {
		
		h3 {	 
			@include text-header( $font-large, normal );
			padding-bottom: 6px;
		}
		
		img.skill-icons {
  			padding-bottom: 10px;
		}
		
	}
		
}	
	
}
