/* Slider Styles
-------------------*/
.slider-infinite {
	@include clearfix();
	height: 215px; 				// Set max height of slider
	margin: 1vw 0;
	padding: 0 8%;
	
	@media ( min-width: $screen-sm ) {
		padding: 0 6%;
	}		
	@media ( min-width: $screen-md ) {
		padding: 0 4%;
	}
	// Container for the slides and controls
	.slider-body {
		// Container for each item/slides
	
		-webkit-transition: all 2s;
    	transition: all 2s;
		
		.slide {
			text-align: center;
			width: 100%;
			
			@media ( min-width: $screen-xs ) {
				width: 50%;
			}
			@media ( min-width: $screen-sm ) {
				width: 33.33%;
			}
			@media ( min-width: $screen-md ) {
				width: 25%;
			}
			a {
				background-color: $white;
				margin: 7px;
				color: $white;
				display: block;
				-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
				-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
				box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
				height: 200px;
				overflow: hidden;
				
				img {
					width: auto; 
					height: 100%;
				}
			}
			&:nth-child( even ) a {
				background-color: $white;
			}
		}
	}
	.slide-left,
	.slide-right {
		top: 90px;
		width: 15px;
		height: 31px;
		cursor: pointer;
		outline: none;
	}
	
	.slide-left {
		background: transparent url( $image-path + 'prev-horizontal.png') no-repeat 0 0;
		
		
		&:hover, &:active, &:focus {
  			background-position: -15px 0;
		}
	}
	.slide-right {
		background: transparent url( $image-path + 'next-horizontal.png') no-repeat 0 0;
		
		
		&:hover, &:active, &:focus {
  			background-position: -15px 0;
		}	
	}
}
