// Paths
$image-path: '../images/';

// Fonts
$font-size-base: 14px; 
$font-fancy: 'Open Sans', Arial, Helvetica, sans-serif;
$font-fancier: Garamond, Times, serif;
$font-fancier-italic: 'Garamond Italic', Times, serif;
$font-small: 10px;
$font-medium: 16px;
$font-large: 24px;
$font-xl: 10px;
$font-banner: 110px;

// Sizes
$menu-side-width: 300px;
$site-width: 1060px;

// Colors
$black: #000;
$color-highlight: #f94836;
$color-light-main: #b8d9e7;
$color-main: #0d91c8;
$color-dark: #3b4244;
$grey: #999;
$grey-medium: #666;
$white: #fff;
$color-pow: #ff6454;


//Mixins

@mixin text-header ( $size, $line-height ) {
	font: #{$size}/#{$line-height} $font-fancy;
}

@mixin text-accent ( $size, $line-height ) {
	font: #{$size}/#{$line-height} $font-fancier;
}

@link-color:       @color-main;
@link-hover-color: darken(@link-color, 15%);
